[submodule "Act1.3/act1.3_TC1031"]
	path = Act1.3/act1.3_TC1031
	url = https://github.com/C2N14/act1.3_TC1031.git
[submodule "Act2.3/act2.3_TC1031"]
	path = Act2.3/act2.3_TC1031
	url = https://github.com/C2N14/act2.3_TC1031.git
[submodule "Act3.4/act3.4_TC1031"]
	path = Act3.4/act3.4_TC1031
	url = https://github.com/C2N14/act3.4_TC1031.git
[submodule "Act4.3/act4.3_TC1031"]
	path = Act4.3/act4.3_TC1031
	url = https://github.com/C2N14/act4.3_TC1031.git
[submodule "Act5.2/act5.2_TC1031"]
	path = Act5.2/act5.2_TC1031
	url = https://github.com/C2N14/act5.2_TC1031.git
